/*Home css start*/
.hero__area{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.hero__area::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.hero__title-wrapper {
    max-width: 1200px;
    position: relative;
    margin-bottom: 105px;
}
.hero__area .hero1_bg {
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-animation: wcRotate 18s infinite linear;
    animation: wcRotate 10s infinite linear;
}
.heroHome-slider .carousel-inner{
    max-width: 1200px;
}
.heroHome-slider .carousel-control-next, .heroHome-slider .carousel-control-prev{
    display: none;
}
.heroHome-slider .carousel-indicators {
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.hero__title-wrapper small {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 200;
}
.hero__title-wrapper h1 {
    font-weight: 900;
    font-size: 8rem;
    line-height: 1;
}
.hero__sub-title {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #a8a8a8;
    max-width: 410px;
    position: absolute;
    right: 60px;
    bottom: 85px;
}
.hero_down_arrow {
    width: auto;
    margin-top: 50px;
    -webkit-animation: wcSlideBottom 3s infinite;
    animation: wcSlideBottom 3s infinite;
}
@keyframes wcSlideBottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }   
}
.home-about-section, .testimonial-section{
    background: url("../../assets/images/bg-2.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.counter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.05);
    border-radius: 25px;
    position: relative;
    background: #fff;
}
.counter-item {
    width: calc(100% / 6);
    position: relative;
}
.counter-item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    background: #eee;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}
.counter-number {
    font-size: 1.6rem;
    font-weight: 900;
}
.counter-item p {
    color: #6f6f6f;
    font-weight: 400;
}
.client-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.client-logo-item {
    padding: 30px;
    width: calc(100% / 7);
    transition: 0.2s ease-in-out all;
}
.home-about-wrap {
    margin-top: 50px;
    border-top: 2px dashed rgb(0 0 0 / 10%);
    padding-top: 80px;
    margin-left: 0;
    margin-right: 0;
}
.home-about-wrap .col-12 {
    padding: 0;
}
.home-about-content-block {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: none;
    padding: 20px 50px;
}
.home-about-content-block h6 {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
}
.home-about-content-block h3 {
    margin-bottom: 5px;
    font-size: 3.4rem;
    font-weight: 900;
    line-height: 1.1;
}
.home-about-content-block p {
    margin-bottom: 30px;
    font-size: 1.2rem;
}
.list-icons .item-icon {
    position: relative;
    padding: 0 0 20px 80px;
    margin-bottom: 30px;
}
.list-icons .item-icon .icon-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(116 94 255 / 50%);
    border-radius: 100px;
    font-size: 2rem;
    color: #fff;
}
.text-heading-4, .text-heading-5 {
    font-weight: 700;
    letter-spacing: 0;
}
.text-body-excerpt {
    font-weight: 400;
    font-size: 1rem !important;
    margin-bottom: 0 !important;
}
.home-about-img-block {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    height: 100%;
    box-shadow: 0 0 55px rgba(0,0,0,0.05);
    border: 10px solid #fff;
}
.home-about-logo-symbol {
    position: absolute;
    right: -20px;
    max-width: 400px;
    bottom: -10px;
}
.home-about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-section{
    background: url("../../assets/images/bg-3.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.cta-block {
    position: relative;
    overflow: hidden;
    padding: 80px;
    margin-top: 20px;
    background: #e9f7ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.cta-block::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 330px;
    background: url("../../assets/images/cta-img1.svg") no-repeat;
    background-size: contain;
    background-position: center center;
}
.cta-content {
    width: 50%;
}
.cta-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 15px;
}
.cta-text {
    padding-right: 120px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.technology-block {
    margin-top: 50px;
    background: none;
    border-radius: 0;
    padding: 0;
    position: relative;
}
.technology-list-block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.technology-item-block {
    width: calc(100% / 12);
    padding: 15px;
    background: #f7f8fa;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: 0.2s ease-in-out all;
}
.technology-item-block:hover {
    transform: scale(1.15);
}
.technology-item-block img {
    max-width: 35px;
}
.techTitle {
    width: 100%;
    text-align: center;
    font-size: .85rem;
    font-weight: 600;
}
.testimonial-content {
    padding: 50px;
    background: #fff;
    border-radius: 20px;
    position: relative;
}
.testimonial-content::before{
    content: '';
    position: absolute;
    left: -25px;
    top: -25px;
    width: 300px;
    height: 150px;
    background: url("../../assets/images/symbol-grey.svg") no-repeat;
    background-size: contain;
    background-position: center;
}
.review-paragraph {
    padding: 70px;
    line-height: 1.6;
    position: relative;
}
.review-paragraph::before{
    content: '\EC51';
    position: absolute;
    left: 0;
    top: 0;
    font-family: "remixicon";
    color: #745eff;
    font-size: 4.2rem;
}
.review-paragraph::after{
    content: '\EC52';
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: "remixicon";
    color: #745eff;
    font-size: 4.2rem;
}
.review-heading {
    padding-left: 70px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
}
.review-sub-heading {
    padding-left: 70px;
    font-weight: 400;
    font-size: 1rem;
}
.client-testimonials .carousel-control-prev, .client-testimonials .carousel-control-next{
    display: none;
}
.client-testimonials .carousel-indicators{
    bottom: -60px;   
}
.client-testimonials .carousel-indicators [data-bs-target]{
    background-color: #141414;
    opacity: 0.3;
}
.client-testimonials .carousel-indicators .active{
    opacity: 1;
}
.world-map-block {
    padding: 0 100px;
    margin-bottom: -100px;
}
.world-map-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
}
.world-map-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.world-map-list ul li {
    background: #d6d0ff;
    padding: 10px 15px;
    border-radius: 5px;
    color: #4427ff;
    font-size: .85rem;
    line-height: 1;
}