/*Header css start*/
.header-section {
    padding: 5px 15px;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 10px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0 0 0 / 75%);
    padding: 15px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255 255 255 / 25%);
}
.brandLogo{
    max-width: 250px;
}
.headerNavBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 250px);
    justify-content: flex-end;
}
.mainMenuBlock {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.mainMenuBlock a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0 15px !important;
}
.mainMenuBlock a:hover {
    color: #745eff;
}
.mainMenuBlock .navbar-nav a.active,.mainMenuBlock .navbar-nav a.show {
    color: #745eff;
}
.mainMenuBlock a {
    padding: 10px 15px;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    display: block;
}
.mainMenuBlock .dropdown-toggle::after {
    top: 2px;
    position: relative;
}
.mainMenuBlock .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    background: rgb(0 0 0 / 85%);
    backdrop-filter: blur(10px);
    border: 1px solid #434344;
}
.mainMenuBlock .dropdown-menu a {
    color: #fff;
    white-space: nowrap;
    margin: 20px 0;
    font-weight: 300;
    font-size: 1rem;
}
.mainMenuBlock .dropdown-menu a:hover, .mainMenuBlock a.active,.mainMenuBlock a:active,.mainMenuBlock a:focus{
    background: none;
    color: #745eff;
}