.inner-about-img-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -280px;
    height: 600px;
    overflow: hidden;
    border: 15px solid rgb(36 33 36 / 10%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.inner-about-img-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inner-about-info h2 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 15px;
}
.inner-about-info h6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6;
}
.inner-about-info p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}
.our-team-section{
    background: url("../../assets/images/bg-3.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.our-team-img {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.our-team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-team-info {
    text-align: center;
}
.designation-text {
    font-size: .9rem;
    font-weight: 300;
    text-transform: uppercase;
}
.team-name {
    font-size: 1.4rem;
    font-weight: 800;
}
.life-at-webintoto-section {
    background: #FFF8E7;
}
.life-at-webintoto-section::before {
    content: '';
    position: absolute;
    right: 0;
    top: -38px;
    opacity: 0.6;
    width: 500px;
    height: 220px;
    background: url("../../assets/images/symbol-white.svg") no-repeat;
    background-size: contain;
    background-position: center;
}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
}
.image-gallary-item {
    height: 300px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    transition: .8s;
    border: 10px solid rgb(0 0 0 / 5%);
}
.image-gallary-item:nth-of-type(2), .image-gallary-item:nth-of-type(3), .image-gallary-item:nth-of-type(6), .image-gallary-item:nth-of-type(7) {
    grid-column: span 2;
}
.image-gallary-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}